@media only screen and (min-width : 320px) and (max-width : 640px) {

  .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 5;
      transition: 0.5s;

      &--scrolled{
        background-color: rgba(17, 17, 17, 1);
       }
 
       &--notScrolled{
        background-color: rgba(17, 17, 17, 0);
       }
       
       &--active{
         margin: 0;
         padding: 0;
         height: 100vh;
         width: 100%;
         align-items: center;
         background-color: rgba(17, 17, 17, 0.8);
         transition: 0.3s;
       }
  
  
    &__logo-link{
      align-self: flex-start;
      margin: 0;
      margin-left: 28px;
      margin-top: 19px;
      margin-bottom: 19px;
      padding: 0;
      height: 43px;
      width: 48px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      
    }
  
    &__logo{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  
    &__menu-burger{
      display: flex;
      align-self: flex-end;
      align-items: center;
      width: 34px;
      height: 34px;
      margin: 0;
      margin-bottom: 23px;
      margin-right: 23px;
      padding: 0;

    }
    &__span-burger{
      display: block;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 24px;
      height: 3px;
      background-color: #FFFFFF;
  
      &:after, &:before{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
      }
      &:after{
        bottom: 8px;
        -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
      }
      &:before{
        -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
        top: 8px;
      }

      &--open{
        background: none;

        &:after, &:before{
          -webkit-transition-delay: 0, 0.3s;
           transition-delay: 0, 0.3s;
        }

        &:after{
          bottom: 0;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:before{
          top: 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
        }
  
      }
    }
    .nav{
      display: none;
      flex-direction: column;
      align-self: center;
      text-align: center;
      margin: 0;
      margin-right: 25px;
      margin-bottom: 200px;
      padding: 0;

      &--active{
        display: flex;
      }
    
      &__welcome{
        margin: 0;
        margin-top: 15px;
        list-style-type: none;
      }
    
      &__sightseens{
        margin: 0;
        margin-top: 15px;
        list-style-type: none;
    
      }
    
      &__tours{
        margin: 0;
        margin-top: 15px;
        list-style-type: none;
      }
    
      &__contacts{
        margin: 0;
        margin-top: 15px;
        list-style-type: none;
      }
    
      &__link{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        color: #FFFFFF;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
        &--active{
          list-style-type: none;
          border-bottom: 1px rgba(255, 255, 255, 1) solid;
          color: rgba(255, 255, 255, 0.7);
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
  
        &:active{
          text-decoration: underline;
        }
    
      }
    }
    
  }
  
  .welcome{
    margin: 0;
    padding: 0;
    background-image: url("../img/DSC00015.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    right: 0;
  
    &__wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100%;
      right: 0;
    }
    
    &__title{
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-family: 'Amatic SC', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 96px;
      color: rgba(255,255,255,0.8);
  
    }
    &__description{
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
  
    &__arrow-button{
      display: flex;
      position: absolute;
      margin: 0;
      margin-bottom: 50px;
      padding: 0;
      border: 0;
      bottom: 0;
      width: 32px;
      height: 32px;
      background: none;
      z-index: 4;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:before,&:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-left: 2px solid #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        animation: followArrow 3s linear infinite;
      }
      &:after {
        animation: followArrow 3s linear infinite -1.5s;
      }
      @keyframes followArrow {
        0% {
            opacity: 0;
            transform: translate(0, -53px) rotate(-45deg);
        }
        10%, 90% {
            opacity: 0;
        }
        50% {
            opacity: 1;  
            transform: translate(0, 0) rotate(-45deg);
        }
        100% {
            opacity: 0;
            transform: translate(0, 53px) rotate(-45deg);
        }
      }
    }
  
  }
  
  .sightseens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  
    &__title{
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      padding-top: 80px;
      text-align: center;
      font-family: 'Amatic SC';
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      color: #000000;
    }
  }
  
  .sightseen{
    margin: 0;
    margin-bottom: 55px;
    padding: 0;
    padding-left: 16px;
    padding-right: 18px;
  	overflow: hidden;
	  text-overflow: ellipsis;
    display: -webkit-box;
	  -webkit-line-clamp: 11;
	  -webkit-box-orient: vertical;

    &__info{
      margin: 0;
      padding: 0;
      padding-left: 4px;
      padding-right: 8px;
    }

    &--active{
      display: block;
    }

  
    &__image{
      display: block;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 33%;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }
  
    &__title{
      margin: 0;
      margin-top: 23px;
      margin-bottom: 36px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-decoration: underline;
      color: #585858;
    }
  
    &__description1{
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }

    &__description2{
      margin: 0;
      margin-right: 15px;
      padding: 0;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  }

  .tours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  
    &__title{
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      padding-top: 80px;
      text-align: center;
      font-family: 'Amatic SC';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
  
    }
  
    &__show-more{
      margin: 0;
      margin-top: 10px;
      padding: 0;
      border: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      background: none;
      color: #9F9F9F;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      
    }
  
  }

  .all-tours{
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 18px;

    &--all-visible{

      .tour--hidden{
        display: flex;
      }

    }
  }

  .tour{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    height: 40vh;
    width: 100%;
    background-image: url('../img/DJI_0210_1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    &__all-info{
      margin: 0;
      padding: 0 25px 25px 25px;
      background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(255, 255, 255, 0.67) 23.96%, #EEEEEE 78.65%);
    }
  
    &__basic-info{
      margin: 0;
      padding: 0;
  
    }
  
    &__name{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      color: #000000;
    }
  
    &__description{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
  
    &__buy-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  
    &__cost{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #000000;
  
      &:before{
        content: 'от ';
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
      }
  
      &:after{
        content: ' р.';
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
      }
  
      
    }
  
    &__buy-button{
      margin: 0;
      padding: 0;
      border: 1px solid #C3B182;
      width: 102px;
      height: 50px;
      border-radius: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      background: transparent;
      color: #C3B182;
      outline: 0;
      outline-offset: 0;
    }
  
    &--hidden{
      display: none;
    }
  
  }
  
  .contacts{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    height: 100vh;
    width: 100%;
  
    &__wrapper{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    &__title{
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      padding-top: 80px;
      text-align: center;
      font-family: Amatic SC;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      color: #000000;
    }
  
    &__yandex-maps{
      margin: 0;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      height: 45vh;
    }
  }
  .info{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
  
    &__address, &__phone, &__email{
      display: flex;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    &__address{
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
  
    } 
    &__phone{
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
  
  
    }
    &__email{
      margin: 0;
      padding: 0;
  
    }
    &__address-logo, &__phone-logo, &__email-logo{
      margin: 0;
      margin-right: 20px;
      padding: 0;
      width: 24px;
      height: 24px;
    }
  
    &__phone-numbers{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
    &__phone-number1{
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
    }
  
    &__phone-number1, &__phone-number2, &__email-address{
      text-decoration: none;
      color: #000000;
    }
  
  }
  

  .app{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: visible;

    &--blocked{
      overflow: hidden;
    }
  }
 
  .footer{
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px;
    background-color: #242424;
  
    .footer-menu{
      display: none;
    }
  
    &__contacts{
      display: none;
    }
  
    &__copyright{
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}
@media only screen and (min-width : 641px){

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: 0.5s;

    &--scrolled{
      background-color: rgba(17, 17, 17, 1);
     }

     &--notScrolled{
      background-color: rgba(17, 17, 17, 0);
     }
  
  &__logo-link{
    margin: 0;
    margin-left: 90px;
    padding: 0;
    height: 72px;
    width: 80px;
    
  }
  
  &__logo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  &__menu-burger{
    display: none;
  
  }
  &__span-burger{
    display: none;
  }
  
  .nav{
    display: flex;
    margin: 0;
    margin-right: 121px;
    padding: 0;
    
    &__welcome{
      margin: 0;
      margin-right: 20px;
      list-style-type: none;
    }
    
    &__sightseens{
      margin: 0;
      margin-right: 20px;
      list-style-type: none;
    
    }
    
    &__tours{
      margin: 0;
      margin-right: 20px;
      list-style-type: none;
    }
    
    &__contacts{
      margin: 0;
      list-style-type: none;
    }
    
    &__link{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      color: #FFFFFF;
  
    
      &--active{
        list-style-type: none;
        border-bottom: 1px rgba(255, 255, 255, 1) solid;
        color: rgba(255, 255, 255, 0.7);
  
      }
    
      &:hover{
        text-decoration: underline;
      }
      &:active{
        text-decoration: underline;
      }
    
    }
    }
  }
  
  .welcome{
    margin: 0;
    padding: 0;
    background-image: url("../img/DSC00015_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    right: 0;
  
  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    right: 0;
  }
  
  &__title{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    color: rgba(255,255,255,0.8);
  
  }
  &__description{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  &__arrow-button{
    display: flex;
    position: absolute;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    border: 0;
    bottom: 0;
    background: none;
    width: 32px;
    height: 32px;
    z-index: 4;

    &:before,&:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      cursor: pointer;
      border-left: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
      animation: followArrow 3s linear infinite;
      
    }
    &:after {
      animation: followArrow 3s linear infinite -1.5s;
    }
    @keyframes followArrow {
      0% {
          opacity: 0;
          transform: translate(0, -53px) rotate(-45deg);
      }
      10%, 90% {
          opacity: 0;
      }
      50% {
          opacity: 1;  
          transform: translate(0, 0) rotate(-45deg);
      }
      100% {
          opacity: 0;
          transform: translate(0, 53px) rotate(-45deg);
      }
    }
  }

}
  
  .sightseens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
  
  
  &__title{
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    padding-top: 140px;
    text-align: center;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #000000;
  }
  }
  
  .sightseen{
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 130px;
    padding-right: 130px;

    &__info{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    &__image{
      margin: 0;
      margin-right: 20px;
      width: 30vw;
      height: 33vh;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }
  
    &__title{
      margin: 0;
      margin-bottom: 25px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-decoration: underline;
      color: #585858;
    }
  
    &__description1{
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
      width: 81%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    &__description2{
      margin: 0;
      padding: 0;
      width: 81%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
  }
}
  #sightseen2{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 130px;
    padding-right: 130px;

    &__info{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    &__image{
      margin: 0;
      width: 30vw;
      height: 33vh;
      border-radius: 20px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }
  
    &__title{
      margin: 0;
      margin-bottom: 25px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      text-decoration: underline;
      color: #585858;
    }
  
    &__description1{
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
      width: 81%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
    }
    &__description2{
      margin: 0;
      padding: 0;
      width: 81%;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #000000;
  }
  }
  
  .tours{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  
  &__title{
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    padding-top: 140px;
    text-align: center;
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
  
  }
  
  &__show-more{
    display: none;
  }
  
  &__hide-tours{
    display: none;
  }
  
  }
  
  .all-tours{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 44px;
  }
  .tour{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 0;
  height: 380px;
  width: 380px;
  background-image: url('../img/DJI_0210_1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  &__all-info{
    margin: 0;
    padding: 0 25px 25px 25px;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(255, 255, 255, 0.67) 23.96%, #EEEEEE 78.65%);
  }
  
  &__basic-info{
    margin: 0;
    padding: 0;
  
  }
  
  &__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  
  &__description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }
  
  &__buy-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  &__cost{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
  
    &:before{
      content: 'от ';
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 24px;
    }
  
    &:after{
      content: ' р.';
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 200;
      font-size: 24px;
    }
  
    
  }
  
  &__buy-button{
    margin: 0;
    padding: 0;
    border: 1px solid #C3B182;
    width: 102px;
    height: 50px;
    border-radius: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    background: transparent;
    color: #C3B182;
    outline: 0;
    outline-offset: 0;
  }
  
  
  }
  
  
  .contacts{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #EEEEEE;
  
  
  &__title{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 140px;
    text-align: center;
    font-family: Amatic SC;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #000000;
  }
  .all-information{
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 130px;
    padding-right: 130px;
  }
  &__yandex-maps{
    margin: 0;
    margin-left: 20px;
    padding: 0;
    width: 55vw;
    height: 60vh;
  }
  }
  .info{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  width: 33%;
  
  &__address, &__phone, &__email{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  &__address{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
  
  } 
  &__phone{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  
  
  }
  &__email{
    margin: 0;
    padding: 0;
  
  }
  &__address-logo, &__phone-logo, &__email-logo{
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: 24px;
    height: 24px;
  }
  
  &__phone-numbers{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  &__phone-number1{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
  }
  
  &__phone-number1, &__phone-number2, &__email-address{
    text-decoration: none;
    color: #000000;
  }
  
  }
  
  .app{
  margin: 0;
  padding: 0;
  width: 100%;
  }
  
  .footer{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #242424;

  .footer-menu{
    margin: 0;
    margin-top: 35px;
    margin-bottom: 105px;
    margin-left: 130px;
    padding: 0;


    &__title{
      margin: 0;
      margin-bottom: 21px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: #FFFFFF;
    }

      .nav{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      
        &__welcome{
          margin: 0;
          margin-bottom: 10px;
          list-style-type: none;
       }
      
        &__sightseens{
          margin: 0;
          margin-bottom: 10px;
          list-style-type: none;
      
        }
      
        &__tours{
          margin: 0;
          margin-bottom: 10px;
          list-style-type: none;
       }
      
        &__contacts{
          margin: 0;
          list-style-type: none;
        }
      
        &__link{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 200;
          font-size: 14px;
          text-decoration: none;
          color: #FFFFFF;

          &:hover{
            text-decoration: underline;
            color: #FFFFFF;
            opacity: 0.5;
          }
        }  
      }
  }
   
  
    &__contacts-title{
      margin: 0;
      margin-bottom: 21px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: #FFFFFF;
    }

    &__contacts{
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-left: 5px;
      margin-top: 35px;
      margin-bottom: 105px;
      margin-right: 160px;
      padding: 0;
      width: 25%;
    
    }

    &__address{
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #E1E1E1;
    }

    &__email{
      margin: 0;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #E1E1E1;

    }
  
    &__copyright{
      margin: 0;
      margin-top: 35px;
      margin-bottom: 105px;
      margin-right: 130px;
      padding: 0;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }
  }
}
